html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

#toplogo {
  margin-top: 20px;
  margin-bottom: 20px; }

.pc_menu {
  margin-top: 50px;
  margin-bottom: 20px; }

.pc_menu_li {
  list-style: none; }

.menubar {
  display: inline-block;
  padding-left: 19px; }

@media (max-width: 550px) {
  .pc_menu {
    display: none; } }
@media (max-width: 550px) {
  .logo {
    text-align: center; } }
.sp_menu_li {
  list-style: none;
  text-align: center; }

.sp_menu_toggle {
  display: none; }

.tog_menu {
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #eee;
  margin: 0px;
  padding: 10px 0px 10px 0px; }

.tog_menu_pic {
  margin-left: 20px; }

@media (min-width: 550px) {
  .sp_menu {
    display: none; }

  .tog_menu {
    display: none; } }
#pc_new_items {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

@media (max-width: 550px) {
  #pc_new_items {
    display: none; } }
#sp_new_items {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

@media (min-width: 550px) {
  #sp_new_items {
    display: none; } }
#new_itempic_1 {
  display: flex;
  flex-wrap: wrap; }

.itembox {
  width: 40%;
  margin: 5px;
  background-color: #ffffff; }

.items_pic1 {
  padding: 10px; }

.items_pic2 {
  padding: 10px; }

@media (max-width: 550px) {
  #new_itempic_1 {
    display: flex;
    flex-wrap: wrap; }

  .itembox {
    width: 40%;
    margin: 5px;
    background-color: #ffffff; }

  .items_pic1 {
    padding: 0px; }

  #new_itempic_2 {
    display: flex;
    flex-wrap: wrap; }

  .items_pic2 {
    padding: 0px; } }
#pc_popular_items {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

@media (max-width: 550px) {
  #pc_popular_items {
    display: none; } }
#sp_popular_items {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

@media (min-width: 550px) {
  #sp_popular_items {
    display: none; } }
#popular_itempic_1 {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 550px) {
  #popular_itempic_1 {
    display: flex;
    flex-wrap: wrap; } }
.popular_pic1 {
  padding: 10px; }

.popular_pic2 {
  padding: 10px; }

@media (max-width: 550px) {
  .popular_pic1 {
    padding: 0px; }

  .popular_pic2 {
    padding: 0px; } }
p {
  font-size: 13px;
  font-size: 1.3rem; }

#pc_shopping_guide {
  padding-top: 20px; }

@media (max-width: 550px) {
  #pc_shopping_guide {
    display: none; } }
#sp_shopping_guide {
  text-align: center;
  padding-top: 20px; }

@media (min-width: 550px) {
  #sp_shopping_guide {
    display: none; } }
.li_square {
  list-style: square;
  color: #887f69; }

.guidetitle {
  font-size: 18px;
  font-size: 1.8rem;
  color: #887f69; }

#guide {
  display: flex; }

.sent {
  width: 45%;
  padding: 30px;
  margin: 10px;
  background-color: #ffffff; }

.pay {
  width: 45%;
  padding: 30px;
  margin: 10px;
  background-color: #ffffff; }

.write {
  list-style: none;
  padding-bottom: 10px; }

@media (max-width: 550px) {
  #guide {
    display: flex;
    flex-wrap: wrap; }

  .sent {
    display: block;
    width: 100%; }

  .pay {
    display: block;
    width: 100%; } }
#itemserch {
  background-color: #ffffff;
  padding: 15px 15px 5px 15px;
  margin-bottom: 10px; }

#search #searchInput {
  background-image: url(../images/top/search_icon.png);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-color: #f9f8f6;
  width: 100%; }

form #search {
  text-align: center; }

#searchInput {
  width: 80%;
  margin: 0px; }

#pagelink {
  background-color: #887f69;
  height: 45px; }

.linkpic {
  display: inline-block;
  padding: 10px; }

.nextpic {
  text-align: center;
  display: inline-block;
  float: right;
  padding: 10px; }

#categories {
  margin: 10 0 10 0px; }

#catego {
  margin-top: 10px;
  background-color: #887f69;
  height: 45px;
  margin: 10 0 0 0; }

.catego_li {
  background-color: #ffffff; }

.categoriespic {
  display: inline-block;
  padding: 10px; }

.nextpic {
  text-align: center;
  display: inline-block;
  float: right;
  padding: 10px; }

.downpic {
  text-align: center;
  display: inline-block;
  float: right;
  padding: 10px; }

.catebox {
  list-style: none;
  height: 20px;
  right: 2%;
  font-size: 15px;
  font-size: 1.5rem;
  border: 1px solid #eee;
  margin: 0px;
  padding: 10px; }

.nextgray {
  text-align: center;
  display: inline-block;
  float: right; }

#about {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 0px 25px 0px;
  background-color: #ffffff; }

#about_bar {
  background-color: #887f69;
  height: 45px; }

.aboutmenu {
  display: inline-block;
  padding: 10px; }

.aboutpic {
  text-align: center;
  padding: 10px; }

.aboutp {
  font-size: 13px;
  font-size: 1.3rem;
  margin: 10px; }

.more {
  text-align: center; }

@media (max-width: 550px) {
  #about {
    clear: fix; }

  .aboutpic {
    width: 40%;
    float: left; } }
#shopinfo {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 0px 25px 0px;
  background-color: #ffffff; }

#shopinfo_bar {
  background-color: #887f69;
  height: 45px; }

.shopinfomenu {
  display: inline-block;
  padding: 10px; }

.shoppic {
  text-align: center;
  padding: 10px; }

.shopp {
  font-size: 13px;
  font-size: 1.3rem;
  margin: 10px; }

@media (max-width: 550px) {
  #shopinfo {
    clear: both; }

  .shoppic {
    float: left; } }
#footer {
  text-align: center; }

@media (min-width: 550px) {
  #pagetop {
    display: block;
    text-align: right; } }
@media (max-width: 550px) {
  #pagetop {
    display: block;
    text-align: center; } }
.footborder {
  border: solid;
  border-width: 1px;
  color: #808080;
  margin: 10px 0px 15px 0px; }

.navi {
  text-align: center; }

.copy {
  text-align: center; }

#top_bar {
  background-color: #e8e5d9;
  padding: 10px; }

@media (max-width: 550px) {
  #top_bar {
    width: 100%; } }
.homeicon {
  display: inline-block; }

.top_bar_p {
  color: #808080;
  display: inline; }

#top_bar_pic {
  padding: 5px;
  width: 100%; }

@media (max-width: 550px) {
  #top_bar_pic {
    width: 100%; }

  .topbarpic {
    width: 100%; } }
#list_pics_1 {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 550px) {
  display: flex;
  flex-wrap: wrap; }
.itembox {
  width: 32%;
  margin: 5px;
  background-color: #ffffff; }

.items_pic3 {
  padding: 10px; }

@media (max-width: 550px) {
  .items_pic3 {
    padding: 0px; } }
#nb_bar {
  padding-top: 20px; }

#next_bar {
  background-color: #887f69;
  width: 15%;
  display: inline-block;
  padding: 10px; }

.next_bar_p {
  color: #ffffff;
  text-align: center;
  margin: 0px; }

#cback_bar {
  background-color: #887f69;
  width: 15%;
  display: inline-block;
  padding: 10px;
  float: right; }

.back_bar_p {
  color: #ffffff;
  text-align: center;
  margin: 0px; }

#pc_recent {
  display: block;
  padding-top: 25px;
  padding-bottom: 10px; }

@media (max-width: 550px) {
  #pc_recent {
    display: none; } }
#sp_recent {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px; }

@media (min-width: 550px) {
  #sp_recent {
    display: none; } }
#recent_pics {
  display: flex; }

.recent_pic1 {
  padding: 10px; }

.itembox {
  width: 30%;
  margin: 2px;
  background-color: #ffffff;
  padding: 8px; }

@media (max-width: 550px) {
  #recent_pics {
    display: flex;
    flex-wrap: wrap; } }
@media (max-width: 550px) {
  .itembox {
    width: 42%; } }
@media (max-width: 550px) {
  .recent_pic1 {
    padding: 0px; } }
#products {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 10px; }

.proname {
  font-size: 18px;
  font-size: 1.8rem;
  display: inline-block;
  padding: 20px;
  margin: 0px; }

.pronumb {
  display: inline-block;
  float: right;
  padding: 20px;
  margin: 0px; }

.proborder {
  border: solid;
  border-width: 1px;
  color: #e2ddd4;
  margin: 10px; }

#productspage_img {
  display: flex; }

@media (max-width: 550px) {
  #display_img img {
    width: 100%; } }
#list_img {
  display: flex;
  flex-wrap: wrap; }

.promenu {
  list-style: none;
  width: 50%; }

.promenu img {
  cursor: pointer;
  width: 80%; }

.cs_table {
  width: 100%;
  border-collapse: collapse; }

.cs_table th {
  width: 25%;
  padding: 6px;
  text-align: center;
  vertical-align: top;
  color: #333;
  background-color: #f9f8f6;
  border: 1px solid #b9b9b9;
  color: #887f69;
  font-size: 15px;
  font-size: 1.5rem; }

.cs_table td {
  padding: 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  color: #887f69;
  font-size: 15px;
  font-size: 1.5rem; }

.proborder_half {
  border: solid;
  border-width: 1px;
  width: 50%;
  color: #e2ddd4;
  margin: 10px; }

.sp_proborder {
  border: solid;
  border-width: 1px;
  color: #e2ddd4;
  margin: 10px; }

@media (max-width: 550px) {
  .proborder_half {
    display: none; } }
@media (min-width: 550px) {
  .sp_proborder {
    display: none; } }
.pricetag_red {
  color: #9d1a2d;
  font-size: 20px;
  font-size: 2rem;
  font-style: italic;
  display: inline-block; }

.tax {
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  display: inline-block; }

.title_price {
  width: 32%;
  display: inline-block; }

.pricenumb {
  width: 32%;
  display: inline-block; }

.pc_addcart {
  width: 32%;
  display: inline-block; }

.pc_addcart_pic {
  max-width: 100%; }

@media (max-width: 550px) {
  .pc_addcart {
    display: none; } }
.sp_addcart {
  text-align: center;
  padding: 20px; }

@media (min-width: 550px) {
  .sp_addcart {
    display: none; } }
.quantity {
  width: 32%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px; }

.squarebox {
  border: 1px solid;
  color: #887f69;
  width: 150px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px; }

.title_explane {
  font-size: 18px;
  font-size: 1.8rem;
  color: #887f69;
  padding-top: 20px; }

.exborder {
  border: solid;
  border-width: 0.5px;
  color: #887f69; }

.title_explane_h3 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #887f69;
  margin: 20px; }

.title_explane_p {
  color: #333333;
  font-size: 14px;
  font-size: 1.4rem; }

.cs_table_1 {
  width: 100%;
  border-collapse: collapse; }

.cs_table_1 th {
  width: 25%;
  padding: 6px;
  text-align: center;
  vertical-align: top;
  color: #333;
  background-color: #f9f8f6;
  border: 1px solid #b9b9b9;
  color: #887f69;
  font-size: 15px;
  font-size: 1.5rem; }

.cs_table_1 td {
  padding: 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  color: #887f69;
  font-size: 15px;
  font-size: 1.5rem; }

a:hover {
  color: #b0b0b0; }

a:visited {
  color: #9d1a2d; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/*# sourceMappingURL=shopping.css.map */
